@{
	ViewBag.Title = "About Us";
}

@using Business.Extentsions
@using Business.Services
@inject SettingService settingService;

@{
	var settings = settingService.GetSettings();
}


	<main>

		<div class="container">
			<div class="col-lg-12">
				<h1 style="margin:100px 0px;text-align:center">
					About us
				</h1>
			</div>
			<div class="col-lg-12">
				@Html.Raw(settings["AboutUs"])
			</div>
		</div>

	</main>

	