@{
	ViewBag.Title = "Contact Us";
}

	<main>

		<section class="breadcrumb-area breadcrumb-bg"
				 style="background-image: url('./assets/uploads/2023/03/breadcrumb_bg_01.jpg');  background-color: #040C1C ">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-12">
						<div class="breadcrumb-content">
							<h3 class="title">Contact Us</h3>
							<div class="breadcrumbs-meta-title">
								<!-- Breadcrumb NavXT 7.2.0 -->
								<span property="itemListElement" typeof="ListItem">
									<a property="item" typeof="WebPage"
									   title="Go to SpondTech." href="https://ifingerstudio.com/spondtech"
									   class="home"><span property="name">SpondTech</span></a>
									<meta property="position" content="1">
								</span> &gt; <span property="itemListElement" typeof="ListItem">
									<span property="name"
										  class="post post-page current-item">Contact Us</span>
									<meta property="url" content="index.html">
									<meta property="position" content="2">
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>



		<div>
			<section class="container">
				<div class="row">
					<div class="col-lg-6 d-flex justify-content-center">
						<img decoding="async" width="669" height="540" src="./assets/uploads/2023/01/contact_img.jpg"
							 class="py-3 " alt="" loading="lazy"
							 srcset="https://ifingerstudio.com/spondtech/wp-content/uploads/2023/01/contact_img.jpg 669w, https://ifingerstudio.com/spondtech/wp-content/uploads/2023/01/contact_img-300x242.jpg 300w, https://ifingerstudio.com/spondtech/wp-content/uploads/2023/01/contact_img-80x65.jpg 80w"
							 sizes="(max-width: 669px) 100vw, 669px" />
					</div>

					<div class="col-lg-6">
						<div class="py-3">
							<div class="elementor-widget-container">
								<div class="contact-info-wrap-two">
									<h2 class="title">Contact Information</h2>
									<p>
										There are many variations of passages of Lorem Ipsum available, but the
										majority
									</p>
									<ul class="list-wrap">
										<li>
											<div class="icon"><i class="fa fas fa-phone-volume"></i></div>
											<div class="content">
												<span>8 (800) 123 4567</span>
												<span>8 (800) 123 4568</span>
											</div>
										</li>
										<li>
											<div class="icon"><i class="fa fas fa-paper-plane"></i></div>
											<div class="content">
												<span>info@example.com</span>
												<span>info@example.comd</span>
											</div>
										</li>
										<li>
											<div class="icon"><i class="fa fal fa-map-marker-alt"></i></div>
											<div class="content">
												<span>82 12th Street, Office 14,</span>
												<span>Road Edinburgh, UK</span>
											</div>
										</li>
									</ul>
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>
			<section class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="py-3">
							<div class="form_btn_cf7">
								<div class="form_section_area">
									<h2 class="title"> Keep In Touch </h2>
									<p>
										There are many variations of passages of Lorem Ipsum available, but the
										majority have suffered alteration
									</p>
								</div>

								<div lang="en-US" dir="ltr">
									<div class="screen-reader-response">
										<p role="status" aria-live="polite" aria-atomic="true"></p>
										<ul></ul>
									</div>
									<form method="post" aria-label="Contact form">

										<p>
											<label>
												<span data-name="your-name">
													<input size="40" aria-invalid="false"
														   placeholder="Your Name" value="" type="text"
														   name="your-name" />
												</span>
											</label>
										</p>
										<p>
											<label>
												<span data-name="your-email">
													<input size="40" aria-invalid="false"
														   placeholder="Your Email" value="" type="email"
														   name="your-email" />
												</span>
											</label>
										</p>
										<p>
											<label>
												<span data-name="your-subject">
													<input size="40" aria-invalid="false"
														   placeholder="Subject" value="" type="text"
														   name="your-subject" />
												</span>
											</label>
										</p>
										<p>
											<label>
												<br />
												<span data-name="your-message">
													<textarea cols="40" rows="10"
															  aria-invalid="false" placeholder="Your Message"
															  name="your-message"></textarea>
												</span>
											</label>
										</p>
										<p>
											<input type="submit" value="Send Message" />
										</p>

									</form>
								</div>

							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.9350107827545!2d49.859867815830114!3d40.41029047936595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d2ab726eea7%3A0x9948528aedd91fa3!2sEcotec%20CS!5e0!3m2!1sru!2sus!4v1680687423900!5m2!1sru!2sus"
								width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" class="py-3"
								referrerpolicy="no-referrer-when-downgrade"></iframe>

					</div>
				</div>
			</section>
		</div>



	</main>
