@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<main>

    <section class="breadcrumb-area breadcrumb-bg"
             style="background-image: url('../../wp-content/uploads/2023/03/breadcrumb_bg_01.jpg');  background-color: #040C1C ">
        <div class="container custom-container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="breadcrumb-content">
                        <h3 class="title">Analytic solutions</h3>
                        <div class="breadcrumbs-meta-title">
                            <!-- Breadcrumb NavXT 7.2.0 -->
                            <span property="itemListElement" typeof="ListItem">
                                <a property="item" typeof="WebPage"
                                   title="Go to SpondTech." href="https://ifingerstudio.com/spondtech"
                                   class="home"><span property="name">SpondTech</span></a>
                                <meta property="position" content="1">
                            </span> &gt; <span property="itemListElement" typeof="ListItem">
                                <a property="item"
                                   typeof="WebPage" title="Go to Services." href="../index.html"
                                   class="archive post-service-archive"><span property="name">Services</span></a>
                                <meta property="position" content="2">
                            </span> &gt; <span property="itemListElement" typeof="ListItem">
                                <span property="name"
                                      class="post post-service current-item">Analytic solutions</span>
                                <meta property="url" content="index.html">
                                <meta property="position" content="3">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="primary-bg">
        <div class="inner-blog service-details">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-8 order-2 order-lg-0">
                        <aside class="services-sidebar">
                            <div id="service_cats_post_widget-2" class="widget spondtech_service_cats_widget">
                                <div class="services-widget">
                                    <div class="service-widget-title">
                                        <h4 class="sw-title">Category</h4>
                                    </div>
                                    <div class="services-cat-list">
                                        <ul class="list-wrap">
                                            <li>
                                                <a href="../../service-category/advertising/index.html">
                                                    Advertising
                                                    <span>(1)</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="../../service-category/business/index.html">
                                                    Business
                                                    <span>(1)</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="../../service-category/consulting/index.html">
                                                    Consulting
                                                    <span>(1)</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="../../service-category/digital-studio/index.html">
                                                    Digital
                                                    Studio <span>(1)</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="../../service-category/investment/index.html">
                                                    Investment
                                                    <span>(1)</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="../../service-category/security/index.html">
                                                    Security
                                                    <span>(1)</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="../../service-category/solutions/index.html">
                                                    Solutions
                                                    <span>(2)</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div id="download_widget-3" class="widget spondtech_download_widget">

                                <div class="services-widget">
                                    <div class="service-widget-title">
                                        <h4 class="sw-title">Documents</h4>
                                    </div>
                                    <div class="document-wrap">
                                        <ul class="list-wrap">
                                            <li>
                                                <div class="icon"><i class="fal fa-file-pdf"></i></div>
                                                <div class="content">
                                                    <span>Annual Report 2023</span>
                                                    <a href="#">Download</a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon"><i class="fal fa-file-pdf"></i></div>
                                                <div class="content">
                                                    <span>Annual Report 2022</span>
                                                    <a href="#">Download</a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon"><i class="fal fa-file-pdf"></i></div>
                                                <div class="content">
                                                    <span>Annual Report 2021</span>
                                                    <a href="#">Download</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div class="services-widget widget-bg"
                                 style="background-image: url('../../wp-content/uploads/2023/01/project_img07.jpg');">
                                <div class="sidebar-content">
                                    <h4 class="sw-title">Do you want to work with us?</h4>
                                    <p>
                                        Vesti at bulum nec odio aea the dumm ipsumm ipsum that dolocons rsus mal
                                        suada and fadolorit.
                                    </p>
                                    <div class="sidebar-contact">
                                        <ul class="list-wrap">
                                            <li><a href="tel:+1800-12345678">+1800 - 123 456 78</a></li>
                                            <li><a href="mailto:info@example.com">Mail: info@example.com</a></li>
                                        </ul>
                                    </div>
                                    <div class="sidebar-social">
                                        <ul class="list-wrap">
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                            </li>
                                            <li>
                                                <a href="# " target="_blank"><i class="fab fa-twitter"></i></a>
                                            </li>
                                            <li> <a href="# " target="_blank"><i class="fa fa-rss"></i></a> </li>
                                            <li>
                                                <a href="# " target="_blank"><i class="fab fa-pinterest-p"></i></a>
                                            </li>
                                            <li>
                                                <a href="# " target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>

                    <div class="col-lg-8">
                        <div class="services-details-content">
                            <div class="sevice-details-thumbnail">
                                <img width="770" height="480"
                                     src="../../wp-content/uploads/2023/01/services_details_img.jpg"
                                     class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                     decoding="async"
                                     srcset="https://ifingerstudio.com/spondtech/wp-content/uploads/2023/01/services_details_img.jpg 770w, https://ifingerstudio.com/spondtech/wp-content/uploads/2023/01/services_details_img-300x187.jpg 300w, https://ifingerstudio.com/spondtech/wp-content/uploads/2023/01/services_details_img-768x479.jpg 768w, https://ifingerstudio.com/spondtech/wp-content/uploads/2023/01/services_details_img-80x50.jpg 80w"
                                     sizes="(max-width: 770px) 100vw, 770px" /> <a href="../../wp-content/uploads/2023/01/services_details_img.jpg"
                                                                                   class="link-btn popup-image"><i class="flaticon-link"></i></a>
                            </div>
                            <div class="service-details-content">
                                <p>
                                    <strong>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                                        parturient montes, nascetur ridiculus mus.
                                    </strong>
                                </p>
                                <p>
                                    Grursus mal suada faci lisis Lorem ipsum dolarorit more ametion consectetur elit.
                                    Vesti at bulum nec as odio aea the dumm ipsumm ipsum that dolocons rsus mal
                                    suada and fadolorit to the consectetur elit. All the Lorem Ipsum mal suada faci
                                    lisis Lorem ipsum dolarorit more ametion consectetur elit. Vesti at bulum nec
                                    odio aea the dumm ipsumm ipsum to the consectetur elit. All the Lorem Ipsum
                                    generators predefined any dummy tex at necessary.
                                </p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="services-list">
                                            <h2 class="title">Services offered</h2>
                                            <ul class="list-wrap">
                                                <li>Link building</li>
                                                <li>SEO at the stage of website development</li>
                                                <li>SEO site optimization</li>
                                                <li>SEO site audit</li>
                                                <li>Promotion of service sites</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="services-list">
                                            <h2 class="title">Planning &amp; Strategy</h2>
                                            <ul class="list-wrap">
                                                <li>SEO audit and technical audit</li>
                                                <li>Competitor analysis</li>
                                                <li>Embedding requests on site pages</li>
                                                <li>External optimization</li>
                                                <li>Tracking site positions and growth dynamics</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    rursus mal suada faci lisis Lorem ipsum dolarorit more ametion consectetur elit.
                                    Vesti at bulum nec odio aea the dumm ipsumm ipsum that dolocons rsus mal suada
                                    and fadolorit to the consectetur elit. All the Lorem Ipsum mal suada faci lisis
                                    Lorem ipsum dolarorit more ametion consectetur elit. Vesti at bulum nec odio aea
                                    the dumm ipsumm ipsum to the consectetur elit. All the Lorem Ipsum generators
                                    predefined any dummy tex at necessary.
                                </p>
                                <p>
                                    Vesti at bulum nec odio aea the dumm ipsumm ipsum that dolocons rsus mal suada
                                    and fadolorit to the consectetur elit. All the Lorem Ipsum mal suada faci lisis
                                    Lorem ipsum dolarorit more ametion consectetur dummy at many elit.
                                </p>
                                <div class="benefit-wrap">
                                    <h2 class="title">Benefits</h2>
                                    <ul class="list-wrap">
                                        <li><i class="far fa-check-circle"></i>SEO analytics &amp; implements</li>
                                        <li><i class="far fa-check-circle"></i>Daily reports &amp; documents</li>
                                        <li><i class="far fa-check-circle"></i>Ads creative design</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- blog-grid-end -->


</main>