@{
	ViewData["Title"] = "Edit";
}

@model SupportImage

<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-12" style="padding: 20px; display: flex; justify-content: center; align-items: center;">
					<h1>Edit Support Image</h1>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>
	<link rel="stylesheet" href="~/manage/dist/css/inputs.css" />

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="row">
						<div class="col-lg-12">
							<div class="d-flex container justify-content-center">
								<form asp-action="Edit" asp-controller="SupportImage" class="row w-100 position-relative" enctype="multipart/form-data">
									<div class="col-6 d-flex justify-content-end p-3">
										<label class="input-file">
											<label asp-for="ImageFileLeftTop" class="d-none"></label>
											<input class="input" asp-for="ImageFileLeftTop">
											<span class="input-file-btn input-file-btn-1" style="background-image: url('../../../uploads/supportImages/@Model.ImageLeftTop');"></span>
										</label>
									</div>
									<div class="col-6 d-flex align-items-end p-3">
										<label class="input-file">
											<label asp-for="ImageFileRightTop" class="d-none"></label>

											<input class="input" asp-for="ImageFileRightTop">
											<span class="input-file-btn input-file-btn-2" style="background-image: url('../../../uploads/supportImages/@Model.ImageRightTop');"></span>
										</label>
									</div>
									<div class="col-6 d-flex justify-content-end p-3">
										<label class="input-file">
											<label asp-for="ImageFileLeftBottom" class="d-none"></label>
											<input class="input" asp-for="ImageFileLeftBottom">
											<span class="input-file-btn input-file-btn-3" style="background-image: url('../../../uploads/supportImages/@Model.ImageLeftBottom');"></span>
										</label>
									</div>
									<div class="col-6 p-3">
										<label class="input-file">
											<label asp-for="ImageFileRightBottom" class="d-none"></label>
											<input class="input" asp-for="ImageFileRightBottom">
											<span class="input-file-btn input-file-btn-4" style="background-image: url('../../../uploads/supportImages/@Model.ImageRightBottom');"></span>
										</label>
									</div>
									<div class="work-experience-container">
										<label class="input-file">
											<label asp-for="Text" class="d-none"></label>
											<input class="work-experience" asp-for="Text">
										</label>
									</div>

									<button type="submit" class="btn btn-outline-dark my-3">Submit</button>
								</form>
							</div>
							<span class="text-danger" asp-validation-for="ImageFileLeftBottom"></span>
							  <span class="text-danger" asp-validation-for="ImageFileLeftTop"></span>
							<span class="text-danger" asp-validation-for="ImageFileRightBottom"></span>
							<span class="text-danger" asp-validation-for="ImageFileRightTop"></span>
							<span class="text-danger" asp-validation-for="Text"></span>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>
	<!-- /.content -->
</div>


@section Scripts{
	@*@await Html.PartialAsync("_ValidationPartial")*@
	<script>
		$('.input-file input[type=file]').on('change', function (e) {
			let file = this.files[0];
			var reader = new FileReader();
			let tobechanged = e.target.parentElement.children[2]
			reader.onload = function (e) {
				var imageUrl = e.target.result;
				tobechanged.style['background-image'] = 'url(' + imageUrl + ')'
			}

			reader.readAsDataURL(file);
		});
	</script>

	<script src="~/manage/main.js"></script>
}
